* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --Moderateblue: hsl(238, 40%, 52%);
  --SoftRed: hsl(358, 79%, 66%);
  --Lightgrayishblue: hsl(239, 57%, 85%);
  --Palered: hsl(357, 100%, 86%);
  --Darkblue: hsl(212, 24%, 26%);
  --GrayishBlue: hsl(211, 10%, 45%);
  --Lightgray: hsl(223, 19%, 93%);
  --Verylightgray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
}
body {
  background-color: var(--Lightgray);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
}
.main-content {
  margin: 20px 0;
}
.main-wrapper,
.sub-content-wrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sub-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-between;
}
.sub-content-wrapper {
  margin: 20px 0;
}
.sub-comments {
  width: 95%;
}
.line {
  width: 2px;
  margin: 20px 0;
  background-color: #bebebe;
  display: flex;
}
.score {
  background-color: var(--Verylightgray);
  color: var(--Moderateblue);
  font-weight: 500;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
.score::before {
  content: url(images/icon-plus.svg);
}
.score::after {
  content: url(images/icon-minus.svg);
  display: flex;
}
.profile {
  display: flex;
  align-items: center;
}
.profile-img {
  width: 40px;
}
.profile h3 {
  margin: 0 10px;
  font-weight: 500;
  font-size: 17px;
}
.profile p {
  color: var(--Darkblue);
}
.btns {
  position: absolute;
  bottom: 10%;
  right: 6%;
  display: flex;
}
.btns button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
}
.reply-btn,
.edit-btn {
  color: var(--Moderateblue);
}
.reply-btn::before {
  content: url(images/icon-reply.svg);
  margin-right: 5px;
}
.edit-btn::before {
  content: url(images/icon-edit.svg);
  margin-right: 5px;
}
.delete-btn {
  color: var(--SoftRed);
  margin-right: 16px;
}
.delete-btn::before {
  content: url(images/icon-delete.svg);
  margin-right: 5px;
}
.text {
  color: var(--Darkblue);
  padding: 15px 0;
  line-height: 1.5rem;
  font-size: 16px;
}
.text span {
  color: var(--Moderateblue);
  font-weight: 700;
  margin-right: 7px;
}
@media (min-width: 900px) {
  .container {
    width: 50%;
  }
  .main-wrapper,
  .sub-content-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
  }
  .score {
    width: 40px;
    height: 100px;
    flex-direction: column;
  }
  .main-comment {
    width: 90%;
  }
  .btns {
    position: unset;
    margin-left: auto;
  }
  .sub-wrapper {
    width: 90%;
  }
  .sub-content {
    width: 90%;
  }
}
